body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    
}
.container{

    width: 400px;
    height: 400px;
    background: linear-gradient(to right, rgb(80, 115, 228) 50% ,rgb(80, 115, 228) );
  background-color:rgb(80, 115, 228) ;
  transition:  all 2s;
  /* transition: width 2s,height 2s,background-color 2s; */
  position: relative;
  
}
.container:hover{
    border: solid 5px rgb(46, 43, 43);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    transform: translate(100px,100px) rotate(180deg) ;
    
    /* background-color: brown; */
    background: linear-gradient(to right,rgb(201, 38, 60) 33% ,rgb(252, 251, 251) 33%,rgb(252, 251, 251) 66%,rgb(201, 38, 60) 33%);
    /* transition: width 2s,height 2s,background-color 2s; */
   
    transition:  all 2s;
    z-index: 1;
    
}
.container::after{
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgb(78, 43, 204) 33% ,rgb(252, 251, 251) 33%,rgb(252, 251, 251) 66%,rgb(39, 13, 153) 33%);
    filter: blur(10px);
    z-index: -1;
 
 transition:  all 2s;
}

.container:hover::after{
  
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgb(78, 43, 204) 33% ,rgb(252, 251, 251) 33%,rgb(252, 251, 251) 66%rgb(78, 43, 204)33%);
    border-radius: 50%;

 
 transition:  all 2s;
}
