body{

    background-color: rgb(20, 22, 22);
   }
   /*mayor prooridad !inportant*/
h1{
    color: rgb(230, 221, 221) ; 
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-align: center;
    }
h2 {
    
    color: rgb(103, 102, 107);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    
  } 

  #cabecera1{
   color: aquamarine;
   


  }
  .parrafos1{
      color: rgb(74, 30, 155);
      font-weight: 600;
     
  }
  .parrafos2{

    color: rgb(106, 190, 27);
  }